html {
  height: 100%;
  width: 100%;
}
body {
 font-family: 'Tahoma', sans-serif; font-size:2em;
 background: #231e2f;
 color: #f0dc05;
 overflow-x: hidden;
 overflow-y: auto;
 display: flex;
 justify-content: center;
 align-items: center;
 height: 33vh;}
